*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    background: black;
    
}

.hambu{
    display: none;
}

aside{
    display: flex;
    width: 200px;
    flex-flow: column;
    background:rgb(107, 104, 92) ;
}

aside li:hover{
    background: darkblue;
}

header{
    display: flex;
    background: cornsilk;
}

.box{
    width: 100px;
    height: 100px;
    background: crimson;
    margin: 1rem;
    
}

.container{
    display: flex;
    flex-flow: row;
}

@media screen and (max-width:768px) {
    aside{
        display: none;
        background: blue;
    }

   
}

@media screen and (max-width:480px) {
    

    aside{
        display: none;
    }

    header{
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }

    .hambu{
        display: block;
        margin:5px;
        width: 1rem;
        height: 0.2rem;
        background: white;
    }

    .search{
        display: none;
    }
   
}